.description-page-container {
  background-color: var(--mainwhite);
  text-align: center;
}

.event-description-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 80%;
  padding: 1.25rem;
  margin: -2.5rem auto 1.25rem; 
  border: none;
  overflow: hidden;
  border-radius: 0.75rem;
  background-color: var(--mainWhite);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative;
}
.event-description-card.no-image {
  margin: 2.5rem auto 1.25rem; 
}
.event-description-card-left {
  flex: 3;
  padding: 0.5rem;
  text-align: left;
}

.event-description-card-left h1 {
  font-size: 2rem;
  color: #2d2d2d;
  margin-bottom: 1rem;
}

.event-date-time .event-adress {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
  margin-bottom: 0.625rem;
}

.event-icon-and-text {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.event-icon {
  font-size: 1.2rem;
}

.label {
  font-size: 1.2rem;
  color: #b0b0b0;
  margin-bottom: 0.3125rem;
}

.date,
.address {
  font-size: 1.1rem;
  color: #2d2d2d;
}

.date span {
  color: #6c757d;
  margin-left: 2.5rem;
  font-size: 1rem;
}

.address {
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
}

.event-description-card-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.event-organizer {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 1.25rem;
}

.organizer-icon {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.host-name {
  font-size: 1.2rem;
  color: #2d2d2d;
  font-weight: bold;
}

.host-name span {
  color: #6c757d;
  font-weight: normal;
}

.event-description-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 1.875rem auto;
}

.event-description-container-left {
  flex: 2;
  padding-right: 1.25rem;
}

.event-description-container-left h2 {
  font-size: 1.5rem;
  color: var(--blue);
  margin-bottom: 0.625rem;
}

.event-description-info {
  font-size: 1rem;
  text-align: justify;
}

.event-description-container-right {
  display: flex;
  flex-direction: column;
}

.event-participants-list {
  background-color: var(--lavender-light);
  flex: 1;
  border-radius: 0.75rem;
  padding: 0.9375rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.event-participants-list h2 {
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
}

.event-participants-list ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.event-participants-list li {
  font-size: 1rem;
  margin-bottom: 0.3125rem;
}

.event-contribution-list {
  margin-top: 1.25rem;
}

.event-image-description {
  width: 100%;
  height: auto;
  max-height: 25rem;
  object-fit: cover;
  position: relative; 
  z-index: 1; 
}

.unjoin-button,
.join-button,
.create-new-poll-button,
.update-event-button{
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--blue);
  color: var(--mainWhite);
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-new-poll-button{
  width: 65%;
  align-self: center;
}

.description-page-container button:hover {
  background-color: var(--sky-blue);
}

.create-poll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}