.sign-in__button {
  background-color: var(--mainRed);
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
}

.sign-in__button:hover {
  background-color: black;
  cursor: pointer;
}
