.sign-in__button {
  background-color: var(--sky-blue);
  color: rgb(0, 0, 0);
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 0.25rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.sign-in__button:hover {
  background-color: var(--celeste);
  cursor: pointer;
  color: white;
}
