.sign-in__button {
  background-color: #8AD4EB;
  color: rgb(0, 0, 0);
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
}

.sign-in__button:hover {
  background-color: #A3F3F5;
  cursor: pointer;
  color: white;
}
