.chat-window {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    background-color: var(--gray1);
    border-radius: 0.3rem;
    /* padding: 0.5rem; */
    gap: 0.5rem;
}

.chat-message  {
    margin: 1%;
    max-width: 80%;
    text-justify: center;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.bot-message {
    background-color: var(--lavender-web);
    align-self: flex-end;
}

.user-message {
    background-color: var(--sky-blue-light);
    align-self: flex-start;
    font-weight: bold;
}

@media screen and (width <= 768px) {
    .chat-window {
        max-width: 95%;
    }
}