.events-list {
  display: flex;
  max-width: 150rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.events-list li {
  list-style-type: none;
}

.event-list-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--blue);
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
