.marker {
  cursor: pointer;
  z-index: 1;
}

.marker-icon {
  width: 3.125rem;
  height: 3.125rem;
  background-color: var(--blue);
}

.event-modal-on-the-map {
  background-color: var(--blue);
  color: white;
  padding: 0.3125rem 0.625rem;
  border-radius: 0.3125rem;
  text-align: center;
  width: fit-content;
  height: fit-content;
}

.modal-open-event {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 18.75rem;
}

.event-modal-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.modal-open-event-title {
  font-size: 1.2rem;
}

.modal-open-event-description {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--gray3);
}

.model-open-event-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.go-to-event, .close-modal-btn {
  padding: 0.5rem 1rem;
  background-color: var(--light-medium-purple);
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  .modal-open-event {
    width: 90%;
    padding: 1rem;
  }

  .modal-open-event-title {
    font-size: 1rem;
  }

  .modal-open-event-description {
    font-size: 0.875rem;
  }

  .model-open-event-buttons {
    align-items: stretch;
  }

  .go-to-event, .close-modal-btn {
    margin-top: 0.5rem;
  }
}
