.news-list {
  height: 100vh;
  margin: 10px 20px;
  flex: 1;
  margin-bottom: 150px;
}

.loader {
  width: fit-content;
  font-size: 10rem;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background: conic-gradient(#000 0 0) 50%/0 100% no-repeat text;
  animation: l4 1.5s linear infinite;
  margin: 100px auto;
}
.loader:before {
  content: 'Loading';
}
@keyframes l4 {
  to {
    background-size: 120% 100%;
  }
}
